{% extends 'admin/index.html' %}
{% from 'macros.html' import render_pagination %}

{% block title %}
Admin - courses
{% endblock %}

{% block admin %}
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>作者</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        {% for course in pagination.items %}
        <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.author.username }}</td>
            <td>
        <!-- 编辑 删除 -->
        <div class='btn-group' role='group'>
            <a href='{{url_for('admin.create_course')}}' type='button' class='btn btn-default' title='编辑'>
                <span class='glyphicon glyphicon-pencil' title='编辑' aria-hidden='true'></span>
            </a> 
            <a href='' type='button' class='btn btn-default' title='删除'>
                <span class='glyphicon glyphicon-trash' title='删除' aria-hidden='true'></span>
            </a> 
        </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- 使用 macro 渲染页面 -->
{{ render_pagination(pagination,'admin.courses')}}

{% endblock %}
