<!-- 定义macro, 需要两个参数， 要渲染的form和点击提交请求的 url-->
{% macro render_form(form, url)%}
<form method='POST' action='{{ url }}'>
    <!-- 将csrf_token 渲染在表单开始的位置-->
    {{ form.csrf_token }}

    <!-- 迭代每个表单 field -->
    {% for field in form %}
    <!-- 如果是 csrf_token 不再渲染-->
        {% if field.type == 'CSRFTokenField'%}
        {{ '' }}
        {% elif field.type == 'SubmitField'%}
        {{ form.submit(class='btn btn-primary', type='submit')}}
        {% elif field.type == 'BooleanField'%}
        <div class='checkbox'>
            <label>{{ field()}} {{field.label.text}}</label> 
        </div>
        {% else %}
        <!-- 当errors不为空，添加has-error类，输入框变成红色　 -->
        <div class='form-group {% if field.errors %} has-error {% endif %}'>
            {{ field.label}} {{field(class='form-control')}} 
            <!-- 当errors不为空,遍历显示每一个error -->
            {% if field.errors %}
                {% for error in field.errors %}
                <span class='help-block'>{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    {% endfor%}
</form>
{% endmacro %}

{% macro render_pagination(pagination,endpoint) %}

<nav class='nav-pagination' aira-label='Page navigation'>
    <ul class='pagination'>
        <li {% if not pagination.has_prev %} class='disabled'{% endif %}>
            <a href='{{url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#'  }}' >
                <span aria-hidden='true'>&laquo;</span>
            </a> 
        </li>

        <!-- 渲染每个页数的按钮 -->
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                <li><a href='{{ url_for(endpoint, page=page) }}'>{{page}}</a></li>
                {% else %}
                <!-- 如果页数是当前页，设置为选中状态　-->
                <li class='active'>
                    <a href='#'>{{page}} <span class='sr-only'>(current)</span></a> 
                </li>
                {% endif %}
            {% else %}
                <span class='ellipsis'>...</span>
            {% endif %}
        {% endfor %}
        <!-- 连接到下一页的右箭头(&raquo;)，若没有下一页设为 disable 状态 -->     
        
        <li {% if not pagination.has_next %} class='disabled' {% endif %}>
            <a href='{{url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#'}} ' aria-label='Next'>
                <span aria-hidden='true'>&raquo;</span>
            </a> 
        </li>
    </ul>
</nav>
{% endmacro%}

