<!-- 定义macro, 需要两个参数， 要渲染的form和点击提交请求的 url-->
{% macro render_form(form, url)%}
<form method='POST' action='{{ url }}'>
    <!-- 将csrf_token 渲染在表单开始的位置-->
    {{ form.csrf_token }}

    <!-- 迭代每个表单 field -->
    {% for field in form %}
    <!-- 如果是 csrf_token 不再渲染-->
        {% if field.type == 'CSRFTokenField'%}
        {{ '' }}
        {% elif field.type == 'SubmitField'%}
        {{ form.submit(class='btn btn-primary', type='submit')}}
        {% elif field.type == 'BooleanField'%}
        <div class='checkbox'>
            <label>{{ field()}} {{field.label.text}}</label> 
        </div>
        {% else %}
        <div class='form-group'>
            {{ field.label}} {{field(class='form-control')}} 
        </div>
        {% endif %}
    {% endfor%}
</form>
{% endmacro %}
